{% macro nonebot_logo() %}
  <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" fill="none" version="1.1" width="15" height="15" viewBox="0 0 650 650">
    <g>
      <ellipse cx="325" cy="325" rx="317.5" ry="317.5" fill-opacity="0" stroke-opacity="1" stroke="#EA5252" fill="none" stroke-width="40"/>
    </g>
  </svg>
{% endmacro %}
